.footer {
  background-color: black;
 
  margin-top: 2rem;
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  // z-index: 10;
  display: flex;
  justify-content: space-between;
  &-izquierda {
    color: #f79c25;
    font-family: "Anton", sans-serif;
    text-align: center;
  }
  &-derecha {

  }
  &-icono {
    color:  #00bb2d;
    
  }
}
