.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-image: url("/public/img/Romeofondo1.jpg");
  // background-position: center;
  // background-size: contain;
  // background-repeat: repeat;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 16%,
    rgba(234, 190, 63, 1) 50%,
    rgba(255, 255, 255, 1) 82%
  );
  align-items: center;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 5;
  box-shadow: 0 1px 2px rgba(241, 222, 136, 0.9);

  &__izquierda {
    display: flex;
    align-items: center;
    // // width: 22rem;
    // height: 10rem;
    // border-radius: 30px;
    // background: #e0e0e0;
    // box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    // margin: 1rem;

    img {
      height: 10rem;
      padding-left: 2rem;
      border-radius: 1rem;
      &:hover {
        transform: scale(1.1);
        transition: ease-in 0.3s;
      }
    }
  }

  &__derecha {
    margin-right: 10rem;
    font-size: 1.7rem;
    display: flex;
    justify-content: space-around;
    width: 35rem;
    height: 5rem;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-family: "Comic Neue", cursive;
    font-size: 2rem;
    padding: 1rem;
    &:hover {
      color: white;
      background-color: #f79c25;
      transition: background ease-in 0.4s;
      border-radius: 0.6rem;
    }
  }
}
