.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffc20c;
  align-items: center;

  &__izquierda {
    display: flex;
    align-items: center;
    // // width: 22rem;
    // height: 10rem;
    // border-radius: 30px;
    // background: #e0e0e0;
    // box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    // margin: 1rem;

    img {
      height: 10rem;
    }
  }

  &__derecha {
    margin-right: 10rem;
    font-size: 1.7rem;
    display: flex;
    justify-content: space-around;
    width: 20rem;
    height: 5rem;
    align-items: center;
    border-radius: 30px;
    background: #da2128;
    // box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
    &:hover {
      transform: scale(1.02);
      color: #dbdada;
    }
  }
}
