.section_recetas {
  text-align: center;
  color: #f79c25;
  margin-top: 3rem;
  font-family: "Anton", sans-serif;
  font-size: 3rem;

  &-contenedor {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-bottom: 4rem;
  }

  &-videos {
    margin: 0 2rem;
  }
}
