.section {
  margin-top: 8rem;
  height: 100vh;

  &-h1 {
    font-family: "Anton", sans-serif;
    text-align: center;
    color: #f79c25;
    font-size: 3rem;
  }
  &-productos {
    display: grid;
    gap: 3.5rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, minmax(min(100%, 22rem), 1fr));
    justify-items: center;
    margin-top: 1rem;
    padding-bottom: 5rem;
  }
}
